@import url('https://fonts.cdnfonts.com/css/ubahn-2');
@import url('https://fonts.cdnfonts.com/css/public-sans');
@import url('https://fonts.cdnfonts.com/css/costpretty');
@import url('https://fonts.cdnfonts.com/css/arumdalu');
@import url('https://fonts.cdnfonts.com/css/black-freeday');
@import url('https://fonts.cdnfonts.com/css/lexend');
@import url('https://fonts.cdnfonts.com/css/fonarto');
@import url('https://fonts.cdnfonts.com/css/noto-sans-lao');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(247, 247, 247);
    font-family: "Public Sans", sans-serif;
    --sb-track-color: #c3c3c3;
    --sb-thumb-color: var(--themehover);
    --sb-size: 9px;
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}
  
body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

:root{
    --green: #0da487;
    --greenhover: #056b57;
    --themecolor: #a4880d;
    --themehover: #b89e4a;
    --themedark: #a4740d;
    --orangelight: #ffe9d4;
    --orange: #ff9f43;
    --orangehover: #fe820e;
    --orangedark: #c5640a;
    --dark: #313131;
    --light: #909090;
    --canvas: #f2f2f2;
    --white: #fff;
    --form: #f9f9f6;
    --red: #b21c1c;
    --redhover: #7e1414;
    --yellow: #feda0e;
    --yellowhover: #c7a901;
    --blue: #00c3ff;
    --bluehover: #007ca1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

textarea {
    border: 2px solid var(--canvas);
}

select {
    border: 2px solid var(--canvas);
}

select{
    background: -moz-linear-gradient(#ffffff,#e3e3e3);
    background: -webkit-linear-gradient(#ffffff,#e3e3e3);
    background: -o-linear-gradient(#ffffff,#e3e3e3);
    background: linear-gradient(#ffffff,#e3e3e3);
    border: 1px solid #cacaca;
}

.select-jenis{
    width: 80%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 12pt;
    font-weight: bold;
    color: #fff
}

.select-jenis option {
    color: #404040; 
}

.select-jenis option:checked {
    color: rgb(0, 51, 255); 
}

.text-end{
    position: relative;
    text-align: end;
}

.text-start{
    position: relative;
    text-align: start;
}

.text-center{
    position: relative;
    text-align: center;
}

.line{
    width: 100%;
    border-bottom: 2px solid var(--canvas);
}

.table-line{
    border-bottom: 1px solid gray;
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #0000008e;
}

.event-title{
    font-size: 17pt;
    color: var(--dark);
    font-weight: lighter;
    font-family: 'Black Freeday', sans-serif;
}

.font-light{
    font-weight: lighter;
}

.font-bold{
    font-weight: bold;
}

.font-bolder{
    font-weight: bolder;
}

.color-light{
    color: #a7a7a7;
}

.color-danger{
    color: #b21c1c;
}

.color-white{
    color: var(--white);
}

.color-dark{
    color: var(--dark);
}

.color-orange{
    color: var(--orangehover);
}

.color-theme{
    color: var(--themecolor)
}

.slide-transition{
    transition: all .5s ease;
}

.bg-canvas{
    background: var(--canvas);
}

.bg-orange{
    background: var(--orangelight);
    border: none;
}

.bg-gradient-orange{
    background: var(--orange);
    background: -webkit-linear-gradient(bottom, var(--orange), var(--orangehover));
    background: linear-gradient(to bottom, var(--orange), var(--orangehover));        
    color: var(--white)
}

.bg-dark{
    background: var(--dark);
}

.bg-theme{
    background: var(--themehover);
    background: -webkit-linear-gradient(bottom, var(--themehover), var(--themecolor));
    background: linear-gradient(to bottom, var(--themehover), var(--themecolor));
}

.bg-success{
    background: var(--green);
    background: -webkit-linear-gradient(bottom, var(--greenhover), var(--green));
    background: linear-gradient(to bottom, var(--greenhover), var(--green));
}

.bg-gradient-gray{
    background: radial-gradient(circle at 18.7% 37.8%, 
    rgb(250, 250, 250) 0%, 
    rgb(225, 234, 238) 90%);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content-spacer{
    transition: all .5s ease;
    min-height: 50px;
    background: transparent;
}

.content-body{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    gap: 20px;
}

.content-wrapper{
    position: relative;
    min-height: 50px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.1);
    margin-bottom: 50px;
}

.content-wrapper .content-title{
    margin-top: 10px;
    margin-left: 20px;
    color: var(--light);
    font-family: 'Lexend', sans-serif;
}

.content-wrapper .content{
    position: relative;
    width: 97%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-wrapper .content .load-wrapper{
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    border: 2px dashed var(--canvas);
    background: var(--form);
}

.content-wrapper .content .download-excel{
    width: 98%;
    margin: 0 auto;
    background: var(--form);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px dashed var(--canvas);
}

.content-wrapper .content .load-excel{
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px dashed var(--light);
    color: var(--dark);
}

.load-divisi-container{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    justify-content: end;
}

.load-divisi-container .select-excel-type{
    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid var(--canvas);
}

.content-wrapper .content .load-excel .filename{
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 20px;
}

.content-wrapper .content .load-excel .drop-title{
    font-family: 'Costpretty', sans-serif;
    font-size: 30pt;
    margin-bottom: 10px;
}

.content-wrapper .content .load-excel .cloud-icon{
    width: 50px;
    opacity: 0.5;
}

.content-wrapper .content .input-excel{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.content-wrapper .content .load-excel h3{
    position: absolute;
    top: 10px;
    left: 15px
}

.content-wrapper .content .download-excel .select-excel{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.select-sort{
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 10px;
}

.select-excel .select-box{
    width: 60%;
    height: 40px;
    border-radius: 5px;
}

.content-summary{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-summary .summary-box{
    width:30%;
    height: 100px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-primary{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--orange);
    background: -webkit-linear-gradient(bottom, var(--red), var(--orangehover));
    background: linear-gradient(to bottom, var(--orange), var(--orangehover));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-primary:hover{
    background: var(--orangedark);
}

.btn-block{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn-danger{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: #e74c3c;
    background: -webkit-linear-gradient(bottom, #e74c3c, #db240f);
    background: linear-gradient(to bottom, #e74c3c, #db240f);        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-danger:hover{
    background: #941304;
}

.btn-success{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--green);
    background: -webkit-linear-gradient(bottom, var(--green), var(--greenhover));
    background: linear-gradient(to bottom, var(--green), var(--greenhover));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-success:hover{
    background: var(--green);
}

.btn-warning{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--yellow);
    background: -webkit-linear-gradient(bottom, var(--yellow), var(--yellowhover));
    background: linear-gradient(to bottom, var(--yellow), var(--yellowhover));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-warning:hover{
    background: var(--yellowhover);
}

.btn-block-theme{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--themecolor);
    background: -webkit-linear-gradient(bottom, var(--themehover), var(--themecolor));
    background: linear-gradient(to bottom, var(--themehover), var(--themecolor));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-block-theme:hover{
    background: var(--themehover);
}

.btn-theme{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--themecolor);
    background: -webkit-linear-gradient(bottom, var(--themehover), var(--themecolor));
    background: linear-gradient(to bottom, var(--themehover), var(--themecolor));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-theme:hover{
    background: var(--themehover);
}

.btn-edit{
    height: 40px;
    padding: 0 15px;
    border-radius: 3px;
    background: var(--themecolor);
    background: -webkit-linear-gradient(bottom, var(--themehover), var(--themecolor));
    background: linear-gradient(to bottom, var(--themehover), var(--themecolor));        
    border: none;
    cursor: pointer;
    color: var(--white);
}

.btn-edit:hover{
    background: var(--themehover);
}

/* Navbar */
.navbar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background: #fff;
    z-index: 99;
    display: flex;
    flex-direction: row;
    box-shadow: 1.3px 0.5px 3.1px rgba(0, 0, 0, 0.024),
    4.2px 1.6px 10.5px rgba(0, 0, 0, 0.032),
    19px 7px 47px rgba(0, 0, 0, 0.05);
}

.navbar-right{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: end;
}

.navbar-content{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar-content .navbar-link{
    font-size: 18pt;
    color: var(--light);
    cursor: pointer;
}

.navbar-content .navbar-link:hover{
    color: var(--orange);
}

.navbar-content .navbar-link .notif{
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 500%;
    background: #ff582a;
    font-size: 8pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navbar-content .user-detail{
    display: flex;
    flex-direction: row;
    color: var(--dark);
}

.navbar-content .user-detail .user-image{
    width: 50px;
    height: 100%;
}

.navbar-content .user-detail .user-image .profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 500%;
    background: var(--light);
    border: 3px solid var(--green);
}

.navbar-content .user-detail .username{
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
}

.navbar-content .user-detail .username:hover{
    background: var(--canvas);
}

.navbar-content .user-detail .username h4{
    margin-top: 2px;
}

.navbar-content .user-detail .username h5{
    font-weight: 200;
    color: var(--light);
}

thead {
    background: var(--canvas);
}

.dropdown-wrapper{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.dropdown-wrapper .dropdown-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.user-dropdown{
    position: fixed;
    top: 75px;
    right: 3%;
    width: 140px;    
    background: var(--white);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--canvas);
    box-shadow: 0.5px 0.3px 0.3px rgba(0, 0, 0, 0.024),
    1.6px 1.1px 0.9px rgba(0, 0, 0, 0.032),
    7px 5px 4px rgba(0, 0, 0, 0.05);
}

.notification-dropdown{
    position: fixed;
    top: 75px;
    right: 14%;
    width: 180px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--canvas);
    box-shadow: 0.5px 0.3px 0.3px rgba(0, 0, 0, 0.024),
    1.6px 1.1px 0.9px rgba(0, 0, 0, 0.032),
    7px 5px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 5px;
}

.user-dropdown .dropdown-link{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.notification-dropdown .dropdown-link{
    width: 98%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background: #ffcd9e;
    border-radius: 8px;
}

.user-dropdown .dropdown-link:hover,
.notification-dropdown .dropdown-link:hover{
    background: var(--themehover);
}

.user-dropdown .dropdown-link i,
.notification-dropdown .dropdown-link i{
    font-size: 13pt;
    margin-left: 10px;
    color: var(--light);
}

.user-dropdown .dropdown-link span,
.notification-dropdown .dropdown-link span{
     margin-left: 7px;
     font-size: 10pt;
     color: var(--dark);
}

.user-dropdown .logout-link{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.user-dropdown .logout-link:hover{
    background: var(--themehover);
}

.user-dropdown .logout-link i{
    font-size: 13pt;
    margin-left: 10px;
    color: var(--red);
    font-weight: bolder;
}

.user-dropdown .logout-link span{
     margin-left: 7px;
     font-size: 10pt;
     color: var(--dark);
}

.navbar-search{
    position: absolute;
    width: 600px;
    height: 100%;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    z-index: 100;
}

.navbar-search .search-box{
    position: relative;
    width: 70%;
    height: 45px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.navbar-search .search-box .search{
    width: 85%;
    border: none;
    background: var(--canvas);
    padding-left: 10px;
    font-size: 12pt;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar-search .search-box .search-btn{
    width: 15%;
    height: 100%;
    background: var(--red);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-size: 15pt;
    cursor: pointer;
}

.navbar-search .search-box .search-btn:hover{
    background: var(--orangehover);
}

/* Sidebar */
.sidebar-wrapper{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    min-height: 100vh;
    z-index: 100;
    transition: all .5s ease;
    /* overflow-y: scroll; */
    --sb-track-color: #c2c2c2;
    --sb-thumb-color: #af976b;
    --sb-size: 11px;
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
}

.sidebar-wrapper::-webkit-scrollbar {
    width: var(--sb-size) 
}

.sidebar-wrapper::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

.sidebar-logo{
    position: absolute;
    width: 85%;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    color: #404040;
    z-index: 101;
}

.sidebar-logo .logo{
    width: 80%;
    max-width: 180px;
    transition: all 1s ease;
    margin-right: 10px;
}

.sidebar-expand{
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.sidebar-menu{
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.sidebar-menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.sidebar-menu::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.sidebar-menu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--orange);
}

.sidebar-menu .menu-link{
    width: 100%;
    height: 50px;
}

.sidebar-menu .menu-link .nav-link{
    position: relative;
    left: 4%;
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: justify-content padding .5s ease;
}

.sidebar-menu .menu-link .nav-link:hover{
    background: var(--red);
    color: #fff;
}

.link-unactive{
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    color: #404040;
    -webkit-backdrop-filter: blur(8.2px);
}

.sidebar-menu .menu-link .nav-link i{
    font-size: 16pt;
}

.sidebar-menu .menu-link .nav-link h3{
    margin-left: 10px;
    font-weight: 400;
    font-size: 11pt;
}

.link-active{
    background: var(--red);
    color: #fff;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    position: fixed;
    background: #ffffff;
    /* background: #a4950d;   */
    background: -webkit-linear-gradient(left, #fff, #e9e9e9);
    height: 105%;
    transition: all .5s ease;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(197, 151, 23, 0.507);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.login-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.form-login-group{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.logins{
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-body{
    width: 35%;
    max-width: 650px;
    height: 70%;
    max-height: 450px;
    background: #fff;
    margin-left: 33%;
    box-shadow: 13px 13px 8px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    border-left: 5px solid var(--orange);
}

.login-form {
    width: 96%;
    height: 50px;
    border: 1px solid var(--light);
    font-size: 12pt;
    padding: 0px 10px;
}

.login-form::placeholder{
    color: var(--canvas);
    font-size: 12pt;
}

.error-input{
    position: absolute;
    color: red;
    bottom: 0;
    font-size: 11pt;
}

.line-wrapper{
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-break{
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--canvas);
    z-index: 1;
}

.line-wrapper span{
    position: absolute;
    right: 0;
    font-size: 22pt;
    background: #fff;
    z-index: 10;
    text-align: center;
    font-family: 'Arumdalu', sans-serif;
}

.reset-link{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-decoration: underline;
}

.login-button{
    width: 100%;
    height: 60px;
    background: var(--dark);
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 16pt;
}

.login-button:hover{
    background: #000000;
}

.login-container .login-logo{
    position: absolute;
    width: 210px;
    z-index: 4;
    top: 15px;
    right: 20px
}

.login-container .login-bg{
    width: 100svw;
    height: 100svh;
    object-fit: cover;
    filter: contrast(80%);
}

.login-container .login-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: rgba(161, 161, 161, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-title{
    font-family: 'Arumdalu', sans-serif;
    font-size: 50pt;
    color: var(--white);
    margin-top: -5%;
    margin-bottom: 5%;
}

.login-btn{
    width: 70%;
    height: 60px;
    border-radius: 100px;
    background: var(--themehover);
    border: none;
    cursor: pointer;
    margin-top: 40px;
    color: var(--white);
    font-family: 'Ubahn', sans-serif;
    font-size: 18pt;
}

.remember-me{
    width: 18px;
    height: 18px;
}

.show-password{
    position: absolute;
    top: 43px;
    right: 3%;
    font-size: 18pt;
    cursor: pointer;
    color: var(--light)
}

.login-form-label{
    font-weight: 600;
    margin-bottom: -5px;
    font-family: 'Noto Sans Lao', sans-serif;
    font-size: 12pt;
}

.login-btn:hover{
    background: var(--themecolor);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea:focus{
    outline: 2px solid var(--orange);
    border: none;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
textarea::placeholder{
    color: #a9a9a9;
    font-weight: 300;
}

input[type=text]:read-only,
input[type=password]:read-only,
input[type=email]:read-only,
input[type=number]:read-only,
textarea:read-only{
    background: #d6d6d6;
    color: #404040;
    font-weight: 300;
}

/* animate element */
.gelatine-r {
    animation: gelatine 1s ease;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.gelatine {
    animation: gelatine 1.2s infinite;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.elastic-spin {
    animation: elastic-spin 1s infinite ease;
}

@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

.flash {
    animation: flash 500ms ease infinite alternate;
}

@keyframes flash {
    from { opacity: 1; }	
    to { opacity: 0; }
}

.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

.grow {
    animation: grow 2s ease infinite;
}

@keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.fade-in {
    animation: fade-in .5s linear;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out {
    animation: fade-out .5s linear;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.bounce {
    animation: bounce 1s ease;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.bounce2 {
animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.shake-r {
animation: shake-r .6s ease;
}

@keyframes shake-r {
    0% {transform: translateX(0);}
10%{transform: translateX(10px);}
25%{transform: translateX(-10px);}
    50% {transform: translateX(10px);}
75% {transform: translateX(-10px);}
100% {transform: translateX(0);}
}

.shake {
animation: shake 2s ease;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.flip {
    backface-visibility: visible !important;
    animation: flip 2s ease infinite;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) rotateY(360deg) scale(.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in;
    }
}

.swing {
    transform-origin: top center;
    animation: swing 2s ease infinite;
}

@keyframes swing {
    20% { transform: rotate(15deg); }	
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }	
    80% { transform: rotate(-5deg); }	
    100% { transform: rotate(0deg); }
}

.wobble {
animation: wobble 2s ease infinite;
}

@keyframes wobble {
0% { transform: translateX(0%); }
15% { transform: translateX(-15%) rotate(-5deg); }
30% { transform: translateX(5%) rotate(3deg); }
45% { transform: translateX(-15%) rotate(-3deg); }
60% { transform: translateX(5%) rotate(2deg); }
75% { transform: translateX(-5%) rotate(-1deg); }
100% { transform: translateX(0%); }
}

.fade-in-down {
    animation: fade-in-down 1s ease;
}

@keyframes fade-in-down {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.fade-in-left {
    animation: fade-in-left .5s ease;
}

@keyframes fade-in-left {
0% {
    opacity: 0;
    transform: translateX(-50px);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}

.fade-out-down {
animation: fade-out-down .5s ease;
}

@keyframes fade-out-down {
0% {
    opacity: 1;
    transform: translateY(0);
}
100% {
    opacity: 0;
    transform: translateY(50px);
}
}

.fade-out-right {
animation: fade-out-right 2s ease infinite;
}

@keyframes fade-out-right {
0% {
    opacity: 1;
    transform: translateX(0);
}
100% {
    opacity: 0;
    transform: translateX(20px);
}
}

.bounce-in {
animation: bounce-in .5s ease;
}

.bounce-in-r {
animation: bounce-in .8s ease;
}

@keyframes bounce-in {
0% {
    opacity: 0;
    transform: scale(.3);
}
50% {
    opacity: 1;
    transform: scale(1.05);
}
70% { transform: scale(.9); }
100% { transform: scale(1); }
}

.bounce-in-right {
animation: bounce-in-right 2s ease infinite;
}

@keyframes bounce-in-right {
0% {
    opacity: 0;
    transform: translateX(2000px);
}
60% {
    opacity: 1;
    transform: translateX(-30px);
}
80% { transform: translateX(10px); }
100% { transform: translateX(0); }
}

.bounce-out {
animation: bounce-out 2s ease infinite;
}

@keyframes bounce-out {
0% { transform: scale(1); }
25% { transform: scale(.95); }
50% {
    opacity: 1;
    transform: scale(1.1);
}
100% {
    opacity: 0;
    transform: scale(.3);
} 
}

.bounce-out-down {
animation: bounce-out-down 2s ease infinite;
}

@keyframes bounce-out-down {
0% { transform: translateY(0); }
20% {
    opacity: 1;
    transform: translateY(-20px);
}
100% {
    opacity: 0;
    transform: translateY(20px);
}
}

.rotate-in-down-left {
animation: rotate-in-down-left 2s ease infinite;
}
@keyframes rotate-in-down-left {
0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
}
100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
}
}

.rotate-in-up-left {
animation: rotate-in-up-left 2s ease infinite;
}
@keyframes rotate-in-up-left {
0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
}
100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
}
}

.hinge {
animation: hinge 2s ease infinite;
}
@keyframes hinge {
0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }  
20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }  
40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
100% { transform: translateY(700px); opacity: 0; }
}

.roll-in {
animation: roll-in 2s ease infinite;
}
@keyframes roll-in {
0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
}
100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
}

.roll-out {
animation: roll-out 2s ease infinite;
}
@keyframes roll-out {
    0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
}
}

/* Table Preview */
.table-prev-container{
    width: 100%;
    height: 350px; 
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-preview {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.table-preview caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.table-preview tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.table-preview th {
    padding: .625em;
}

.table-preview td {
    padding: .625em;    
}

.table-preview thead th {
    position: sticky; 
    top: -1%; 
    z-index: 1;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #bdbdbd;
}

@media screen and (max-width: 600px) {
.table-preview {
    border: 0;
}

.table-preview caption {
    font-size: 1.3em;
}

.table-preview thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.table-preview tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}

.table-preview td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}

.table-preview td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .table-preview
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.table-preview td:last-child {
    border-bottom: 0;
}
}  

.error-validation{
    position: relative;
    font-size: 9pt;
    color: red;
    margin-top: -10px;
}

/* Menu Expand */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 35px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: 35px;
    right: 10px;
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--red);
    color: inherit;
    opacity: 1;
    transition: none 0.3s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
}

#checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
}

.capsule-success {
    padding: 5px 15px;
    background: var(--blue);
    border-radius: 50px;
    color: var(--white);
}

.capsule-theme {
    padding: 5px 15px;
    background: var(--green);
    border-radius: 50px;
    color: var(--white);
}
  
.capsule-danger {
    padding: 5px 15px;
    background: var(--red);
    border-radius: 50px;
    color: var(--white);
}
  
.capsule-warning {
    padding: 5px 15px;
    background: var(--orange);
    border-radius: 50px;
    color: var(--white);
}
  
.paginate-active{
    color: var(--dark);
}
  
.search-container{
    position: absolute;
    top: 0;
    right: 0px;
    width: 250px;
    height: 100%;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
}

.revise-note{
    width: 95%;                          
    margin: 0 auto;
    padding: 10px;
    text-align: start;
    float: left;
}

.revised-note{
    width: 95%;                          
    margin: 0 auto;
    padding: 10px;
    text-align: start;
    float: left;
    border: 1.5px solid var(--yellowhover);
    background-color: #ffeddc;
}

.qty-update{
    background-color: var(--yellow);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-dialog {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 850px;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .theme-scroll {
    --sb-track-color: #e5e5e5;
    --sb-thumb-color: var(--themecolor);
    --sb-size: 9px;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
  
  .theme-scroll::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .theme-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  .theme-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
  
  .modal-title {
    font-size: 20pt;
    margin-top: 20px;
    font-weight: bold;
    color: var(--dark);
  }
  
  .modal-content {
    width: 90%;
  }
  
  .form-input {
    width: 94%;
    height: 40px;
    border-radius: 5px;
    border: 1.5px solid var(--canvas);
    background: #f9f9f6;
    padding: 0 10px;
  }
  
  .text-input {
    width: 96%;
    height: 10%;
    border-radius: 5px;
    border: none;
    border: 1.5px solid var(--canvas);
    background: #f9f9f6;
    padding: 10px 2%;
  }
  
  .select-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--canvas);  
    padding: 0 5%;
  }
  
  .image-input {
    position: relative;
    width: 90%;
    height: 320px;
    border-radius: 5px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
  }
  
  .image-input .image-add {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .image-input .image-select-title {
    font-size: 18pt;
    font-family: "Costpretty", sans-serif;
    font-weight: bold;
  }
  
  .image-input .image-name {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    font-size: 10pt;
    margin-top: 100px;
  }
  
  .image-input .preview {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .btn-remove {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1001;
  }
  
  .receipe-box {
    width: 100%;
    max-height: 300px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26pt;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .btn-close:hover {
    font-size: 29pt;
  }

  .form-group{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .form-group .form-label{
    margin-top: 10px;
    font-size: 11pt;
  }

  .form-group span{
    font-size: 9.5pt;
    color: red;
  }

.confirm-wrapper{
    position: absolute;
    top: 20px;
    right: 25px;
    width: 50%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.stamp-container{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 50pt;
    font-weight: 600;
    color: var(--green);
    z-index: 10;
    opacity: 0.5;
}

.stamp-logo{
    object-fit: contain;
    width: 200px;
}

.warning-contract{
    width: 100%;
    height: 70px;
    border: 1px solid var(--red);    
    cursor: pointer;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    text-decoration: none;
    line-height: 25px;
}

.warning-contract:hover{
    background: var(--orangelight);
}

.warning-content{
    width:96%;
    height: 80%;
    font-weight: 400;
    font-family: 'Noto Sans Lao', sans-serif;
    display: flex;
    flex-direction: column;
}